<section class="hero is-dark">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <span class="navbar-burger burger" data-target="navMenu" [ngClass]="{ 'is-active' : toggleNavBar() }" (click)="isNavBar = !isNavBar">
          <span></span>
          <span></span>
          <span></span>
          </span>
        </div>
        <div id="navMenu" class="navbar-menu" [ngClass]="{ 'is-active' : toggleNavBar() }" (click)="isNavBar = !isNavBar">
          <div class="navbar-end">
            <a class="navbar-item" [routerLink]="['/home']" [routerLinkActive]="['is-active']">
              Home
            </a>
            <a class="navbar-item" [routerLink]="['/mywonders']" [routerLinkActive]="['is-active']" *ngIf="appService.isLoggedIn">
              My Wonders
            </a>
            <a class="navbar-item" [routerLink]="['/profile']" [routerLinkActive]="['is-active']" *ngIf="appService.isLoggedIn">
              Profile
            </a>
            <a class="navbar-item" (click)="appService.login()" [routerLinkActive]="['is-active']" *ngIf="!appService.isLoggedIn">
              <span class="icon"><i class="fa fa-twitter"></i></span>
              <span>Login with Twitter</span>
            </a>
            <a class="navbar-item" (click)="appService.logout()" [routerLinkActive]="['is-active']" *ngIf="appService.isLoggedIn">
              Logout
            </a>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        wonderest
      </h1>
      <h2 class="subtitle">
        <p>
          <a href="https://www.freecodecamp.org/challenges/build-a-pinterest-clone" target="_blank">
            freeCodeCamp - Build a Pinterest Clone
          </a>
        </p>
        <p>by <a href="https://github.com/amimaro" target="_blank">Amimaro</a></p>
      </h2>
    </div>
  </div>
</section>

<div class="container">
  <router-outlet></router-outlet>
</div>

<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>wonderest</strong>. The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
      </p>
    </div>
  </div>
</footer>
