<h1 class="mega-title has-text-centered">#ShareWonder</h1>

<div class="columns is-multiline is-mobile has-text-centered">
  <div class="column is-one-quarter" *ngFor="let wonder of appService.wonders">
      <div class="card">
        <div class="card-image">
          <figure class="image is-3by4">
            <img src="{{ wonder.link }}" alt="Placeholder image" (error)="updateUrl($event)">
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="subtitle is-4 has-text-centered">{{ wonder.title }}</p>
              <div class="pull-left" *ngIf="wonder.owner._id == appService.user._id">
                <span class="icon"><i class="fa fa-times-circle-o"></i></span>
              </div>
              <div class="pull-right">
                <span class="icon"><i class="fa fa-heart"></i></span>
                <span>0</span>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

<br>
