<a class="button is-link pull-right" (click)="toggleModal()">
  <span class="icon"><i class="fa fa-plus"></i></span>
  <span>Add a Wonder</span>
</a>
<h1 class="title">My Wonders</h1>
<hr>
<div class="columns is-multiline is-mobile has-text-centered">
  <div class="column is-one-quarter" *ngFor="let wonder of appService.mywonders;">
    <div class="card">
      <div class="card-image">
        <figure class="image is-3by4">
          <img src="{{ wonder.link }}" alt="Placeholder image" (error)="updateUrl($event)">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="subtitle is-4 has-text-centered">{{ wonder.title }}</p>
            <div class="pull-left">
              <span class="icon" (click)="delete(wonder)"><i class="fa fa-times-circle-o"></i></span>
            </div>
            <div class="pull-right">
              <span class="icon" (click)="like(wonder)"><i class="fa fa-heart"></i></span>
              <span>0</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br>

<div class="modal" [ngClass]="{ 'is-active' : isModalActive }">
  <div class="modal-background" (click)="toggleModal()"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Add a new Wonder</p>
      <button class="delete" aria-label="close" (click)="toggleModal()"></button>
    </header>
    <section class="modal-card-body">
      <div align="center">
        <figure class="image is-128x128" style="border:1px solid black;border-style: dotted;">
          <img src="{{ imgSrc }}" (error)="updateUrl($event)">
        </figure>
      </div>
      <div class="field">
        <label class="label">Title</label>
        <div class="control">
          <input class="input" type="text" placeholder="Title" [(ngModel)]="form.title">
        </div>
      </div>
      <div class="field">
        <label class="label">Source (HTTP link)</label>
        <div class="control">
          <input class="input" type="text" placeholder="HTTP Link" [(ngModel)]="form.link" (change)="updateImage()">
        </div>
      </div>
      <div class="field">
        <label class="label">Hashtags</label>
        <div class="control">
          <input class="input" type="text" placeholder="Separete them by space or comma" [(ngModel)]="form.hashtags" (change)="updateHashtag()">
        </div>
      </div>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success" (click)="save()">Save</button>
      <button class="button" (click)="toggleModal()">Cancel</button>
    </footer>
  </div>
</div>
