<div style="width: 60%; margin: 0 auto; padding-bottom: 20px" align="center" *ngIf="user">
  <h1 class="title" style="padding-top: 40px">
    Profile
  </h1>
  <div class="box" *ngIf="user.twitter">
    <article class="media">
      <div class="media-content">
        <div class="content">
          <p class="subtitle">Twitter Login</p>
          <p><strong>Id:</strong> {{ user._id }}</p>
          <p><strong>Twitter Id:</strong> {{ user.twitter.id }}</p>
          <p><strong>Token:</strong> {{ user.twitter.token }}</p>
          <p><strong>Username:</strong> {{ user.twitter.username }}</p>
          <p><strong>Display Name:</strong> {{ user.twitter.displayName }}</p>
        </div>
      </div>
    </article>
  </div>
</div>
